<StackLayout>
    <Button #btn text="TAP"></Button>

    <Label [text]="message"></Label>

    <Label [text]="localMessage"></Label>
    <Label [text]="localSwitchMessage"></Label>

    <StackLayout orientation="horizontal">
        <Label text="cloud: "></Label>
        <Label [text]="remoteSwitchChecked$ | async"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <Label text="local: "></Label>
        <Label [text]="localSwitchChecked$ | async"></Label>
    </StackLayout>

    <Switch (checkedChange)="onCheckedChange($event)"></Switch>
</StackLayout>